# ANDROID is the location of the Android SDK, it should have a folder called 'sdk' in it
# To see the installed build tool versions, ls $(ANDROID)/sdk/build-tools
# To see host tags, ls $(ANDROID)/sdk/ndk-bundle/toolchains/llvm/prebuilt
CONFIG_ANDROID=/Users/user/Library/Android
CONFIG_BUILD_TOOLS_VERSION=29.0.2
CONFIG_HOST_TAG=darwin-x86_64
CONFIG_TARGET=aarch64-linux-android29
CONFIG_API_VERSION=21
CONFIG_ABI=arm64-v8a

# The path to a keystore file and its password:
## use "pass:hunter2" for plaintext
## use "file:pass.txt" to source it from a file
## use "env:PASS" to load it from an environment variable
# To generate a keystore, do this:
## keytool -genkey -v -keystore YOURNAME-key.jks -keyalg RSA -keysize 2048 -validity 10000 -alias YOURNAME
CONFIG_KEYSTORE=
CONFIG_KEYSTORE_PASS=

# Path to VrApi folder from Oculus Mobile SDK
CONFIG_VRAPI=/path/to/VrApi
